
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~vue-loading-overlay/dist/vue-loading.css';

// Toastr
@import '~toastr/toastr';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  min-height: 100vh !important;
}

header .form-inline .search-form button.find {
  right: 40px;
}

header .form-inline .search-form select {
  background: #131c21;
  border: none;
  color: #fff;
  font-size: 16px;
  position: absolute;
  right: 73px;
  top: 14%;
}

header .form-inline .search-form button.find:hover,
header .form-inline .search-form button.search-close:hover,
header .form-inline .search-form select:hover {
  color: #949494 !important;
}

header .form-inline .search-form select:hover,
header .form-inline .search-form select:hover option {
  color: #fff !important;
}

header .form-inline .search-form input[type="text"] {
  padding: 10px 221px 10px 15px !important;
}

// Search
#search-filters-toggler {
  color: #403d44;
  font-weight: 500;
  text-decoration-line: underline;
}

#search-filters-toggler:hover {
  text-decoration-style: dotted;
}

// Search loader
.loader {
  height: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}